name: Build and Release Firmware

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install PlatformIO
        run: pip install platformio

      - name: Install pioarduino platform
        run: |
          pio pkg install \
            --global \
            --platform "https://github.com/pioarduino/platform-espressif32.git"

      - name: PlatformIO system info
        run: pio system info

      - name: Build firmware
        run: pio run

      - name: Build firmware
        run: pio run

      - name: Collect artifacts
        run: |
          mkdir release
          find .pio/build -name "*.bin" -exec cp {} release/ \;

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: release/*
